@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/background02.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000000;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 3s;
}

header {
	background-color: rgba(12, 12, 12, 0.607)!important;
    backdrop-filter: blur(2px);
	width: 100%;
	height: 80px;
	transition-duration: 1s;
}

.color_menu {
    color: white!important;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
}

.container .navbar-brand a {
	margin-top: -10px;
	width: 40px;
}

#menu ul li a {
	color: white!important;
	font-weight: 700;
	z-index: 1;
	font-family: 'Fira Sans', sans-serif;
}

#login-buttons {
  margin-left: 160px;
}

header #menu ul li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 14px;
	font-weight: bold;
    transition-duration: 0.3s;

}

header #menu ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transform: scale(0,1);
    transition-duration: 0.3s;
}

header #menu ul li:hover::after {
    transform: scale(1,1);
}

header #menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

#site-tittle {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-tittle h1 {
    font-size: 28px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    color: white;
}

#site-presentation {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-presentation h3 {
    text-align: center;
    max-width: 700px;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

#button-animation {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-animation #plans button {
    border-style: none;
    text-decoration: none;
    border-radius: 30px;
    padding: 20px;
    color: rgba(255,255,255,1);
    background-color: #2f356c;
    font-weight: Bold;
    transition: 0.6s;
    outline-style: none;
}

#button-animation #plans button:hover {
    outline-style: none;
    border-style: none;
    text-decoration: none;
    background-color: #352f6c;
    transition: 0.6s;
    cursor: pointer;
}

.hidden {
    display: none;
}

.hidden2 {
    display: block;
}

#btn-down:hover {
    cursor: pointer;
}


#invisible-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateY(-490px);
    opacity: 1;
    background-image: url(/images/01.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.invisible-menu .hidden {
    opacity: 0; 
    transition: opacity 1s ease-out;
  }

#invisible-menu .bi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    transition: 0.5s;
}

#invisible-menu #btn-down .bi:hover {
    color: rgba(113, 113, 220, 0.823);
    transform: rotateZ(360deg);
    transition: 0.5s;
}

.container_card {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 1;
}

.container_card .cards {
	position: relative;
	width: 320px;
	height: 320px;
	margin: 20px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	background: white;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center ;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
    transition: 0.5s;
}

.container_card .cards:hover {
    transform: translateY(-50px);
    transition: 0.5s;
}

.container_card .cards:hover {
    cursor: pointer;
}

.container_card .cards:hover .content h3 {
    transform: translateY(25px);
    font-size: 20px;
    transition: 0.6s;
}

.container_card .cards .content {
    text-align: center;
}

.container_card .cards .content p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.container_card .cards .contents-p {
    margin-top: 35px;
}

.container_card .cards:hover .content p {
    position: relative;
    font-size: 14px;
    opacity: 1;
    transition: 0.6s;
}

.container_card .cards .box-color {
    margin-top: -300px;
    padding-top: 100px;
    z-index: 5;
    margin-left: 0px;
    background: linear-gradient(rgba(27,105,161,1), rgba(156,12,245,1));
    width: 100%;
    height: 20px;
    position: absolute;
}

.container_card .cards .box-color2 {
    margin-top: -300px;
    padding-top: 100px;
    z-index: 5;
    margin-left: 0px;
    background: linear-gradient(rgba(232,200,32,1), rgba(252,142,107,1));
    width: 100%;
    height: 20px;
    position: absolute;
}

.container_card .cards .box-color3 {
    margin-top: -300px;
    padding-top: 100px;
    z-index: 5;
    margin-left: 0px;
    background: linear-gradient(rgba(198,47,47,1), rgba(198,47,156,1));
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: 1;
}

.container_card .cards .content h2 {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
    text-shadow: black 0px 1px 10px;
    margin-left: 10px;
    margin-top: -90px;
    font-weight: bold;
    color: white; 
}

.container_card .cards:hover .content h2 {
    transform: translateY(110px);
}

.container_card .cards .content h3 {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.6s;
}

.container_card .cards2 {
	position: relative;
	width: 350px;
	height: 380px;
	margin: 20px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	background: white;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center ;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
    transition: 0.5s;
}

.container_card .cards2:hover {
    transform: translateY(-50px);
    transition: 0.5s;
}

.container_card .cards2:hover {
    cursor: pointer;
}

.container_card .cards2:hover .content h3 {
    transform: translateY(-60px);
    font-size: 22px;
    transition: 0.6s;
}

.container_card .cards2 .content {
    text-align: center;
}

.container_card .cards2 .box-color {
    margin-top: -300px;
    padding-top: 100px;
    z-index: 5;
    margin-left: 0px;
    background: linear-gradient(rgba(27,105,161,1), rgba(156,12,245,1));
    width: 100%;
    height: 20px;
    position: absolute;
}

.container_card .cards2 .box-color2 {
    margin-top: -300px;
    padding-top: 100px;
    z-index: 5;
    margin-left: 0px;
    background: linear-gradient(rgba(232,200,32,1), rgba(252,142,107,1));
    width: 100%;
    height: 20px;
    position: absolute;
}

.container_card .cards2 .box-color3 {
    margin-top: -300px;
    padding-top: 100px;
    z-index: 5;
    margin-left: 0px;
    background: linear-gradient(rgba(198,47,47,1), rgba(198,47,156,1));
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: 1;
}

.container_card .cards2 .content h2 {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
    text-shadow: black 0px 1px 2px;
    margin-left: 10px;
    margin-top: -130px;
    font-weight: bold;
    color: white; 
}

.container_card .cards2 .content h3 {
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.6s;
}

.container_card .cards3 {
	position: relative;
	width: 320px;
	height: 320px;
	margin: 20px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	background: white;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center ;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
    transition: 0.5s;
}

.container_card .cards3:hover {
    transform: translateY(-50px);
    transition: 0.5s;
}

.container_card .cards3:hover {
    cursor: pointer;
}

.container_card .cards3 .content {
    text-align: center;
}

.container_card .cards3 .box-color {
    margin-top: -300px;
    padding-top: 100px;
    z-index: 5;
    margin-left: 0px;
    background: linear-gradient(rgba(27,105,161,1), rgba(156,12,245,1));
    width: 100%;
    height: 20px;
    position: absolute;
}

.container_card .cards3 .box-color2 {
    margin-top: -300px;
    padding-top: 100px;
    z-index: 5;
    margin-left: 0px;
    background: linear-gradient(rgba(232,200,32,1), rgba(252,142,107,1));
    width: 100%;
    height: 20px;
    position: absolute;
}

.container_card .cards3 .box-color3 {
    margin-top: -300px;
    padding-top: 100px;
    z-index: 5;
    margin-left: 0px;
    background: linear-gradient(rgba(198,47,47,1), rgba(198,47,156,1));
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: 1;
}

.container_card .cards3 .content h2 {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
    text-shadow: black 0px 1px 10px;
    margin-left: 10px;
    margin-top: -110px;
    font-weight: bold;
    color: white; 
}

.container_card .cards3:hover .content h2 {
    transform: translateY(50px);
}

.container_card .cards3 .content h3 {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.6s;
}

.container_card .cards3:hover .content h3 {
    transform: translateY(-25px);
    font-size: 20px;
    transition: 0.6s;
}

.container_card .cards3 .content p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.container_card .cards3 .contents-p {
    margin-top: 10px;
}

.container_card .cards3:hover .content p {
    position: relative;
    font-size: 15px;
    opacity: 1;
    transition: 0.6s;
}

#footer-contents {
	margin-top: 250px;
	background-color: black!important;
 }

 #footer-contents h6 {
	color: white!important;
 }

 #footer-copyright p {
	margin-top: -100px;
 }

 #nav-logo img  {
	 margin-left: 150px;
	 width: 120px;
 }

#footer-contents h6 {
    color: rgb(255, 255, 255);
}

#footer-contents ul li a {
    color: rgb(189, 189, 189)!important;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px!important;
    margin-top: 30px;
    background-color: black!important;
}

.distance {
	margin: 20px;
}

.button-style {
    border-style: none;
    border-style: none;
    outline-style: none;
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-weight: Bold;
    transition: 0.5s;
}

.button-style:hover {
    outline-style: none;
    border-style: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.button-style:focus {
    outline-style: none;
    border-style: none;
    text-decoration: none;
}

.list-button {
    color: white;
    font-size: 36px;
}


@media screen and (max-width: 1200px) {
    #menu { 
        margin-top: 24px;
        background-color: rgba(12, 12, 12, 0.337)!important;
        backdrop-filter: blur(7px);
        width: 100%;
    }

    #login-buttons {
        margin-left: 0px;
    }

    body {
        background-image: url(/images/background02.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #000000;
        position: relative;
        width: 100%;
        height: 100%;
        transition: 3s;
    }
}

@media screen and (max-width: 670px) {
    #site-tittle {
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #site-tittle h1 {
        font-size: 28px;
        font-family: 'Fira Sans', sans-serif;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    
    #site-presentation {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #site-presentation h3 {
        text-align: center;
        max-width: 700px;
        font-size: 17px;
        font-family: 'Fira Sans', sans-serif;
        color: white;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-image: url(/images/background02.png);
        background-repeat: no-repeat;
        background-size: 100% 800px;
        background-color: black;
        position: relative;
        width: 100%;
        height: 100%;
    }
}